#footer
  background-color #eeeeee
  padding 20px 3%
  .footerInr
    max-width 1200px
    margin 0 auto
  ul
    display flex
    justify-content center
    border-left 1px solid #dddddd
    px(14)
    li
      padding 2px 10px
      border-right 1px solid #dddddd
  .copyright
    margin-top 30px
    text-align center
    px(12)