#main-img
	overflow hidden
	position relative
	z-index 1
	.slick-dots
		bottom 10px

	.slick-slide
		div
			line-height 0
		img
			width 100%

	.slick-prev
		left 0
		z-index 10
	.slick-next
		right 0
		z-index 10
